:root {
  --bg: #151516;
  --card: #d8d8d8;
  --accent: #7b0808;
  --text: #0b0b0b;
  --muted: #3c3b3b;
  --error: #cc2828;
}


* { box-sizing: border-box; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Inter, Arial, sans-serif;
  background: linear-gradient(180deg, var(--bg), #012549);
  color: var(--text);
  min-height: 100vh;
  padding: 5px;
}

.header_card{
    margin: 0;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background: linear-gradient(180deg, var(--bg), #032c55);
    height: 100px;
}
.header_card h1{
    margin-top: 10px;
    color: #ffffff;
    font-family: "Stack Sans Notch", sans-serif;
}

.header_menu {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    
}

.header_card button{
    background-color: #7b0808;
    width: 70px;
    height: 23px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 3px;
}



.card {
  background: var(--card);
  padding: 24px;
  max-width: 90%;
  width: 520px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(11,11,11,0.06);
  margin-top: 50px;
  margin: 70px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 7);
}

h1 { margin-top: 0; color: var(--accent); text-align: center; }


.card img {
  display: flex;
  max-width: 100%;
  width: 520px;
  height: 120px;
  padding: 0;
  border-radius: 8px;
}

.form {
  display: grid;
  gap: 12px;
  margin-top: 8px;
}

label {
  font-size: 0.9rem;
  color: var(--muted);
}

input[type="number"], select {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #2886f1;
  font-size: 1rem;
}

form button {
  padding: 10px 14px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

button:hover {
  background: #5f0606;
}

.error {
  background: #ffecec;
  color: var(--error);
  padding: 8px 10px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.btn {
  display: flex;
  margin-top: 14px;
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
  margin-left: 7px;
}

.btn:hover {
  text-decoration: underline;
}

.highlight {
  background: #a50808;
  padding: 8px;
  border-radius: 8px;
  color: #ffffff;
}

/* Support page; */

.card-support {
  background: var(--card);
  padding: 24px;
  max-width: 90%;
  width: 520px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(11,11,11,0.06);
  margin-top: 50px;
  margin: 70px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 7);

}

.card-support form {
    display: grid;
    padding: 5px;
    gap: 5px;
}

.card-support button {
    margin-top: 10px;
}

