<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Last Island Calculator</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <header>
    <div class="header_card">
      <div class="title">
        <h1>Last Island Calculator</h1>
      </div>  
      <div class="header_menu">
        <button class="Menu">Menu</button>
        <button class="Main_page">Main</button>
        <a href="{{ url_for('support') }}">
          <button class="Support">Support</button>
        </a>
        <button class="Donation">Donation</button>
      </div>
    </div>
  </header>

  <main class="card">

    <img src="{{ url_for('static', filename='imagens/banner last island.png') }}" alt="logo-card">
    <h1>Resources Calculator</h1>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <form action="{{ url_for('calculate') }}" method="post" class="form">
      <label for="bomb">Bomb Selector:</label>
      <select id="bomb" name="bomb" required>
        <option value="oil" {% if previous_bomb == 'oil' %}selected{% endif %}>Oil</option>
        <option value="tnt" {% if previous_bomb == 'tnt' %}selected{% endif %}>TNT</option>
        <option value="c4" {% if previous_bomb == 'c4' %}selected{% endif %}>C4</option>
        <option value="ciclonite" {% if previous_bomb == 'ciclonite' %}selected{% endif %}>Ciclonite</option>
      </select>

      <label for="value">Quantity:</label>
      <input type="number" id="value" name="value" min="1" value="{{ previous_value or 1 }}" required>

      <button type="submit">Calculate</button>
    </form>
  </main>
</body>
</html>
